{%extends 'base.html' %}

{% block content %}
<div class="container-fluid m-0">
  <div class="home">
    <h1 class="text-center fw-bold py-2"><u>Divcons Arts</u></h1>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 intro text-center text-light">
        <p class="pt-2 pb-3">
          The sheer beauty of our world never cease
          to amaze me especially during that soft
          morning and evening light.So come
          and join me in my gallery to see some
          gorgeous images.
        </p>
        <a href="#images"> <button type="button" class="btn btn-lg fw-bold btn-light">See Images</button></a>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <footer>
    <div class="footer  text-center">
      <p class="fw-bold display-6">Sharing The Moment With You</p>
    </div>
  </footer>
  <div id="images" >
    <h1 class="h1 text-center">My Photos</h1>
    <div class="container">
      <div class="row">
        {% for image in images %}
        <div class="card col-4" style="width: 18rem;">
          <img src="{{image.image_upload.url}}" class="img-responsive"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{image.name}}</h5> 
            <a href="{% url 'image' %}" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="row">
        <h2 class="text-center">There No Images</h2>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}